{% extends 'base.html' %}
{% block content %} 
    
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Expenses</h5>
                    <h2 class="card-text">$0.00</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Monthly Expenses</h5>
                    <h2 class="card-text">$0.00</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Daily Average</h5>
                    <h2 class="card-text">$0.00</h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}